{{fg.green}}!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{{fg.green}}You can use the following commands:

{{fg.cyan}}* {{fg.magenta}}aeris make    {{fg.cyan}}- to run a command from your Makefile.
{{fg.cyan}}* {{fg.magenta}}aeris browse  {{fg.cyan}}- to open your project in your browser.
{{fg.cyan}}* {{fg.magenta}}aeris watch   {{fg.cyan}}- to run your project and restart it on changes.
{%- include "services.j2" %}
{%- include "expose.j2" %}
{{fg.green}}!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!{{reset}}
